!!! 5
html(lang="en")
	head
		title nodeFeed
    link(rel="stylesheet", type="text/css", href="/main.css")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
    script(type="text/javascript", src="http://cdn.socket.io/stable/socket.io.js")
    script(type="text/javascript", src="/feed.js")
	body
    #heading
      h1 News Feed
    #content
      #categories
        ul#category_list
          li category 1
      #feed
        ul#feed_list
          li feed item 1
    #footer
      a(href="http://thecoffman.com") adam coffman made this
      p 
        span#client_count 0
        |  connected clients
