!!! 5
html(lang="en")
	head
		title nodeFeed
    link(rel="stylesheet", type="text/css", href="/main.css")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
    script(type="text/javascript", src="http://cdn.socket.io/stable/socket.io.js")
    script(type="text/javascript", src="/feed.js")
	body
		#container
			#header
				h1 Confab IRC Client
			#columns
				#channels.sidebar
					h2 Channels
				#chatroom
					#chat
					#message
						span Username
						form#new_message
							input(type="text",name="message")
				#users.sidebar
					h2 Users
